<div class="header">
  <div class="container">
    <img src="https://cdn2.iconfinder.com/data/icons/business-office-icons/256/To-do_List-512.png">
    <h1>Todo List</h1>
  </div>
</div>

<div class="create">
  <div class="container">

    <%= form_for(@task) do |f| %>  
  <div class="field"> 
    <%= f.label :task %><br>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %> 
  </div> 
  <div class="actions"> 
    <%= f.submit "Create" %> 
  </div> 
<% end %>
  </div>
</div>